<header id="header" class="reveal">
  <a href="/"><img src="/static/assets/images/logo.png" alt="Klbrs Security" /></a>

  <nav id="nav">
    <ul>
      <li class="menu-item">
        <a href="/">Inicio</a>
      </li>

      <li class="opener menu-item">
        <a href="#" class="submenu">Servicios</a>

        <ul class="submenu-list">
          <li class="menu-item">
            <a href="contacto.html">Solicita presupuesto</a>
          </li>
          <li class="opener menu-item">
            <a href="pruebas-de-penetracion.html">PenTest</a>

            <ul class="dropotron">
              <li><a href="pruebas-de-penetracion-web.html">PenTest Web</a></li>
              <li><a href="pruebas-de-penetracion-red.html">PenTest Red</a></li>
              <li>
                <a href="pruebas-de-penetracion-movil.html">PenTest Móviles</a>
              </li>
              <li><a href="pruebas-de-penetracion-API.html">PenTest API</a></li>
              <li><a href="pruebas-de-penetracion-AWS.html">PenTest AWS</a></li>
            </ul>
          </li>

          <li class="opener menu-item">
            <a>A. Vulnerabilidades</a>

            <ul class="dropotron">
              <li>
                <a href="analisis-vulnerabilidades-web.html">Vulns Web</a>
              </li>
              <li>
                <a href="analisis-vulnerabilidades-red.html">Vulns Red</a>
              </li>
              <li>
                <a href="analisis-vulnerabilidades-AWS.html">Vulns AWS</a>
              </li>
            </ul>
          </li>

          <li class="opener menu-item">
            <a>Training</a>

            <ul class="dropotron">
              <li>
                <a href="concienciacion-de-seguridad.html">Concienciación</a>
              </li>
              <li>
                <a href="entrenamiento-en-seguridad.html">Ciberseguridad</a>
              </li>
            </ul>
          </li>

          <li><a href="hacking-etico.html">Hacking Ético</a></li>
          <li><a href="apoyo-seguridad-fintech.html">Seguridad FinTech</a></li>
        </ul>
      </li>

      <li class="menu-item"><a href="contacto.html">Contacto</a></li>
      <li class="menu-item"><a href="acerca.html">Nosotros</a></li>
      <li class="menu-item"><a href="/en/contact.html">EN</a></li>
    </ul>
  </nav>

  <a href="#navPanel" class="navPanelToggle"></a>

  <ul
    class="dropotron level-0"
    style="user-select: none; display: none; position: absolute; z-index: 1000"
  >
    <li style="white-space: nowrap">
      <a href="contacto.html" style="display: block">Solicita presupuesto</a>
    </li>

    <li
      class="opener"
      style="user-select: none; cursor: pointer; white-space: nowrap"
    >
      <a href="pruebas-de-penetracion.html" style="display: block">PenTest</a>
      <ul
        class="dropotron level-1"
        style="
          user-select: none;
          display: none;
          position: absolute;
          z-index: 1001;
        "
      >
        <li style="white-space: nowrap">
          <a href="pruebas-de-penetracion-web.html" style="display: block"
            >PenTest Web</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="pruebas-de-penetracion-red.html" style="display: block"
            >PenTest Red</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="pruebas-de-penetracion-movil.html" style="display: block"
            >PenTest Móviles</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="pruebas-de-penetracion-API.html" style="display: block"
            >PenTest API</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="pruebas-de-penetracion-AWS.html" style="display: block"
            >PenTest AWS</a
          >
        </li>
      </ul>
    </li>

    <li
      class="opener"
      style="user-select: none; cursor: pointer; white-space: nowrap"
    >
      <a style="display: block">A. Vulnerabilidades</a>
      <ul
        class="dropotron level-1"
        style="
          user-select: none;
          display: none;
          position: absolute;
          z-index: 1001;
        "
      >
        <li style="white-space: nowrap">
          <a href="analisis-vulnerabilidades-web.html" style="display: block"
            >Vulns Web</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="analisis-vulnerabilidades-red.html" style="display: block"
            >Vulns Red</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="analisis-vulnerabilidades-AWS.html" style="display: block"
            >Vulns AWS</a
          >
        </li>
      </ul>
    </li>

    <li
      class="opener"
      style="user-select: none; cursor: pointer; white-space: nowrap"
    >
      <a style="display: block">Training</a>
      <ul
        class="dropotron level-1"
        style="
          user-select: none;
          display: none;
          position: absolute;
          z-index: 1001;
        "
      >
        <li style="white-space: nowrap">
          <a href="concienciacion-de-seguridad.html" style="display: block"
            >Concienciación</a
          >
        </li>
        <li style="white-space: nowrap">
          <a href="entrenamiento-en-seguridad.html" style="display: block"
            >Ciberseguridad</a
          >
        </li>
      </ul>
    </li>

    <li style="white-space: nowrap">
      <a href="hacking-etico.html" style="display: block">Hacking Ético</a>
    </li>
    <li style="white-space: nowrap">
      <a href="apoyo-seguridad-fintech.html" style="display: block"
        >Seguridad FinTech</a
      >
    </li>
  </ul>
  <div id="navPanel">
    <nav>
      <a
        class="link depth-0"
        href="/"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-0"></span>Inicio</a
      ><a
        class="link depth-0"
        href="#"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-0"></span>Servicios</a
      ><a
        class="link depth-1"
        href="contacto.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>Solicita presupuesto</a
      ><a
        class="link depth-1"
        href="pruebas-de-penetracion.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>PenTest</a
      ><a
        class="link depth-2"
        href="pruebas-de-penetracion-web.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>PenTest Web</a
      ><a
        class="link depth-2"
        href="pruebas-de-penetracion-red.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>PenTest Red</a
      ><a
        class="link depth-2"
        href="pruebas-de-penetracion-movil.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>PenTest Móviles</a
      ><a
        class="link depth-2"
        href="pruebas-de-penetracion-API.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>PenTest API</a
      ><a
        class="link depth-2"
        href="pruebas-de-penetracion-AWS.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>PenTest AWS</a
      ><a
        class="link depth-1"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>A. Vulnerabilidades</a
      ><a
        class="link depth-2"
        href="analisis-vulnerabilidades-web.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>Vulns Web</a
      ><a
        class="link depth-2"
        href="analisis-vulnerabilidades-red.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>Vulns Red</a
      ><a
        class="link depth-2"
        href="analisis-vulnerabilidades-AWS.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>Vulns AWS</a
      ><a
        class="link depth-1"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>Training</a
      ><a
        class="link depth-2"
        href="concienciacion-de-seguridad.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>Concienciación</a
      ><a
        class="link depth-2"
        href="entrenamiento-en-seguridad.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-2"></span>Ciberseguridad</a
      ><a
        class="link depth-1"
        href="hacking-etico.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>Hacking Ético</a
      ><a
        class="link depth-1"
        href="apoyo-seguridad-fintech.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-1"></span>Seguridad FinTech</a
      ><a
        class="link depth-0"
        href="contacto.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-0"></span>Contacto</a
      ><a
        class="link depth-0"
        href="acerca.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-0"></span>Nosotros</a
      ><a
        class="link depth-0"
        href="/en/contact.html"
        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
        ><span class="indent-0"></span>EN</a
      >
    </nav>
    <a
      href="#navPanel"
      class="close"
      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
    ></a>
  </div>
</header>
