 <button
        id="btnPago"
        class="primary"
        style="display:none"
    >
        Continuar con el pago
    </button>

    <form
        id="formPago"
        action="/pagar"
        method="post"
        style="display:none"
    >

        <input
            type="hidden"
            name="email"
            value="{{ email }}"
        >

        <button
            type="submit"
            class="button primary"
        >
            Pagar con Stripe
        </button>

    </form>

    <div
        id="estadoPago"
        style="display:none"
    ></div>

</section>